ul ul{
position: absolute;
display: none;
}

span:hover{
text-decoration: underline;
cursor: pointer;
}

#Sublist-Hidden{
    color: #A9A9A9;
    text-decoration-line: none;
    margin-left: 20px;
}

#Sublist-Hidden li:hover{
text-decoration: underline;
}

li:hover ul{
    display: block;
}

body ul{
    list-style: none;
    position: relative;
}

body ul li{
   margin-left: -40px;
   font-size: 14pt;
}





